{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sea-Listings</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="{% static 'wish-list.png' %}"/>

</head>
  <body>
    <nav class="nav blue lighten-2">
      <div class="container nav-wrapper">
          <a href="/" class="brand-logo"><i class="material-icons">beach_access</i>Sea-Listings</a>
          <ul id="nav-mobile" class="right">
              <li><a href="/">Home</a></li>
          </ul>
      </div>
    </nav>

    <div class="parallax-container">
      <div class="parallax"><img src="{% static 'blank-frame.jpg' %}" style="padding-bottom: 580px"></div>
    </div>

    <div class="container" style="padding-bottom: 200px">
    <!-- <h1 style="text-align: center; padding-bottom: 80px;">Welcome to Sea-Listings!</h1> -->
    <!-- Using flexbox to contain each element -->
    <div class="row">
        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color: #ef9a9a">search</i>
                <p>Fast webscraping</p>
                <p class="light center">Get quick results when searching</p>
            </div>
        </div>

        <div class="col s4">
          <div class="center">
              <i class="large material-icons" style="color: orange">sentiment_very_satisfied</i>
              <p>Satisfactory results</p>
              <p class="light center">Built in functionality to filter based on pricing.</p>
          </div>
      </div>

      <div class="col s4">
        <div class="center">
            <i class="large material-icons" style="color: blue">chrome_reader_mode</i>
            <p>Visually pleasing front-end for Craigslist</p>
            <p class="light center">Built this with ❤️</p>
        </div>
      </div>
    </div>

    <form action="{% url 'new_search' %}" method="post">
      {% csrf_token %}
      <input type="text" name="search" placeholder="What would you like to search for?" required="" aria-required="true">

      <!-- Low to high vs high to low pricing options -->
      <div class="input-field col s4">
        <select name="selected">
          <option value="" disabled selected>Sort By Price:</option>
          <option value="1">Low to High</option>
          <option value="2">High to Low</option>
        </select>
      </div>

      <input id="zip" type="number" name="zip" placeholder="Zipcode" class="validate" min="98001" max="99403">

      <input type="number" name="miles-select" placeholder="Miles from zipcode" class="validate">

      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>

    {% block content %}

    {% endblock content %}
    </div>
    <footer class="page-footer blue lighten-2">
      <div class="footer-copyright">
        <div class="container">
        © 2020 Copyright Text
        <a class="grey-text text-lighten-4 right" href="https://github.com/njch5/Sea-Listings">Link to Github Source Code</a>
        </div>
      </div>
    </footer>
    <!-- Added script for jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.parallax').parallax();
      });
    </script>
    <script>
      $(document).ready(function(){
        $('select').formSelect();
      });
    </script>

    <!-- Added JavaScript that will limit zipcode input to 5 digits -->
    <script>
      let zip = document.getElementById('zip');

      zip.addEventListener('keyup', () => {
        if (zip.value.length > 5) {
            zip.value = zip.value.slice(0, 5);
        }
      })
    </script>

<script>
  // Extension materialize.css. Form validations
  $.validator.setDefaults({
      errorClass: 'invalid',
      validClass: "valid",
      errorPlacement: function (error, element) {
          $(element)
              .closest("form")
              .find("label[for='" + element.attr("id") + "']")
              .attr('data-error', error.text());
      },
      submitHandler: function (form) {
          console.log('form ok');
      }
  });
  
  $("#form").validate({
      rules: {
          dateField: {
              date: true
          }
      }
  });
  </script>
  </body>
</html>